In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
#1.1
path = "MARUTI.csv"
df=pd.read_csv(path)

In [3]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,MARUTI,EQ,15-May-2017,6730.20,6759.4,6839.10,6733.45,6824.0,6823.90,6796.84,336356,2.286158e+09,31377,154743,46.01
1,MARUTI,EQ,16-May-2017,6823.90,6850.0,6977.55,6830.00,6968.4,6953.95,6902.22,707624,4.884174e+09,49047,360641,50.97
2,MARUTI,EQ,17-May-2017,6953.95,6950.0,6979.00,6885.85,6945.0,6958.20,6931.60,445461,3.087758e+09,65280,260033,58.37
3,MARUTI,EQ,18-May-2017,6958.20,6918.3,6948.00,6814.45,6822.0,6831.05,6869.68,406814,2.794684e+09,37063,188907,46.44
4,MARUTI,EQ,19-May-2017,6831.05,6854.8,6893.90,6691.55,6756.3,6790.55,6791.60,552223,3.750475e+09,64293,234662,42.49

In [4]:
df.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
491,MARUTI,EQ,07-May-2019,6709.65,6744.9,6785.25,6680.0,6693.00,6702.00,6737.56,586684,3.952821e+09,69696,198757,33.88
492,MARUTI,EQ,08-May-2019,6702.00,6679.0,6693.00,6616.0,6650.00,6650.15,6655.70,552749,3.678929e+09,59897,228920,41.41
493,MARUTI,EQ,09-May-2019,6650.15,6637.0,6678.00,6600.0,6609.85,6624.95,6646.86,570000,3.788710e+09,71334,257451,45.17
494,MARUTI,EQ,10-May-2019,6624.95,6623.0,6664.90,6575.0,6630.00,6631.60,6622.41,608669,4.030855e+09,75423,247688,40.69
495,MARUTI,EQ,13-May-2019,6631.60,6626.0,6659.30,6500.0,6523.00,6543.75,6603.04,555672,3.669123e+09,74137,241880,43.53

In [5]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000,496.000000,4.960000e+02,4.960000e+02,496.000000,4.960000e+02,496.000000
mean,8049.689214,8074.087601,8143.392944,7987.098589,8059.370464,8060.618851,8066.139919,6.034506e+05,4.762403e+09,69172.584677,2.489080e+05,42.953871
std,965.506623,921.707486,919.683165,920.604410,917.893892,915.666009,917.567380,3.694371e+05,2.660177e+09,37464.041472,1.462761e+05,11.719642
min,1066.000000,6480.000000,6588.000000,6317.700000,6469.900000,6511.050000,6463.350000,4.743300e+04,3.510087e+08,1.000000,2.211100e+04,9.050000
25%,7249.437500,7262.475000,7348.962500,7183.850000,7257.500000,7249.437500,7267.205000,3.736395e+05,3.096543e+09,44816.750000,1.556732e+05,34.790000
50%,7891.800000,7900.000000,7949.375000,7830.750000,7882.500000,7891.800000,7887.085000,5.082515e+05,4.142701e+09,60275.500000,2.146385e+05,42.075000
75%,8884.600000,8881.500000,8986.137500,8810.000000,8880.700000,8884.600000,8897.167500,7.029295e+05,5.609814e+09,81815.000000,2.993558e+05,50.900000
max,9832.450000,9966.000000,9996.400000,9725.000000,9846.000000,9832.450000,9850.960000,3.075510e+06,2.142140e+10,279196.000000,1.018169e+06,100.000000

In [6]:
#Dropping the Symbol Column because all of it is MARUTI
df=df.drop(['Symbol'],axis=1)

#Dropping all values where Series==BL
df=df[df['Series']!='BL']
df.reset_index(inplace=True)

In [7]:
#1.2
pf=df['Close Price']
max_val=np.float64(0)
min_val=np.float64(100000)
avg=np.float64(0)
for i in range(len(df)-90,len(df)):
    if (pf[i] > max_val):
        max_val=pf[i]
    if (pf[i]<min_val):
        min_val=pf[i]
    avg=avg+pf[i]

In [8]:
#For Maximum Value
print("The maximum closing price in the last 90 days is: Rs.{}".format(max_val))

#For Minimum Value
print("The minimum closing price in the last 90 days is: Rs.{}".format(min_val))

#For Maximum Value
print("The average closing price in the last 90 days is: Rs.{}".format(avg/90))

The maximum closing price in the last 90 days is: Rs.7492.9
The minimum closing price in the last 90 days is: Rs.6511.05
The average closing price in the last 90 days is: Rs.7002.35

In [9]:
df.dtypes

index                       int64
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

In [10]:
#1.3
df['Date']=pd.to_datetime(df['Date'])
df.dtypes

index                              int64
Series                            object
Date                      datetime64[ns]
Prev Close                       float64
Open Price                       float64
High Price                       float64
Low Price                        float64
Last Price                       float64
Close Price                      float64
Average Price                    float64
Total Traded Quantity              int64
Turnover                         float64
No. of Trades                      int64
Deliverable Qty                    int64
% Dly Qt to Traded Qty           float64
dtype: object

In [11]:
#1.4
df['Month']=pd.DatetimeIndex(df['Date']).month
df['Year']=pd.DatetimeIndex(df["Date"]).year

In [12]:
vwap_df=df[['Close Price','Total Traded Quantity','Month','Year']]

In [13]:
vwap_groups=vwap_df.groupby(['Year','Month'])
vwap_array=[]
#vwap_groups.get_group((1,2018))['Close Price']
for group in vwap_groups:
    vwap_array.append((group[0],(group[1]['Close Price']*group[1]['Total Traded Quantity']).sum()/group[1]['Total Traded Quantity'].sum()))
vwap_array

[((2017, 5), 6954.667751717962),
 ((2017, 6), 7262.807129589927),
 ((2017, 7), 7526.70466318661),
 ((2017, 8), 7656.375823603559),
 ((2017, 9), 7973.764851445692),
 ((2017, 10), 7946.646021655887),
 ((2017, 11), 8355.906713670855),
 ((2017, 12), 9340.393828880293),
 ((2018, 1), 9438.844963843278),
 ((2018, 2), 8927.528624097056),
 ((2018, 3), 8765.375719573345),
 ((2018, 4), 9023.955181763902),
 ((2018, 5), 8633.29377790434),
 ((2018, 6), 8883.107184485429),
 ((2018, 7), 9412.0695392764),
 ((2018, 8), 9209.243863322208),
 ((2018, 9), 8173.036912998851),
 ((2018, 10), 6919.501478686585),
 ((2018, 11), 7323.546090273003),
 ((2018, 12), 7557.745912046523),
 ((2019, 1), 6961.0969301494715),
 ((2019, 2), 6981.028065074952),
 ((2019, 3), 6815.299417474309),
 ((2019, 4), 7037.153970125127),
 ((2019, 5), 6662.196856468833)]

In [14]:
#1.5
n=int(input("Input the Number of Days"))

Input the Number of Days90

In [15]:
def avgn(days):
    avgn=np.float64(0)
    for i in range(len(df)-days,len(df)):
        avgn=avgn+pf[i]
    return avgn/days

In [16]:
def percChange(days):
    return (pf[len(df)-1]-pf[len(df)-days])/pf[len(df)-days]*100

In [17]:
percChange_list=[7,14,30,90,180,365]
time_array =['1 Week','2 Weeks','1 Month','3 Months','6 Months','1 Year']
for time,days in zip(time_array,percChange_list):
    print('The Percentage Change for {} is: {}%'.format(time,percChange(days)))

The Percentage Change for 1 Week is: -2.477645305514158%
The Percentage Change for 2 Weeks is: -10.619771213932047%
The Percentage Change for 1 Month is: 0.3950598343050015%
The Percentage Change for 3 Months is: -12.346795258187663%
The Percentage Change for 6 Months is: -28.347349057223575%
The Percentage Change for 1 Year is: -21.61624752196542%

In [18]:
#1.6
df['Day_Perc_Change']=df['Close Price'].pct_change()*100
df.loc[0,'Day_Perc_Change']=0

In [19]:
#1.7
df['Trend']='Null'
for i in range(len(df)):
    if((df['Day_Perc_Change'][i] > -0.5) & (df['Day_Perc_Change'][i] < 0.5) ):
        df.loc[i,'Trend']='Slight or No Change'
    elif((df['Day_Perc_Change'][i] > 0.5) & (df['Day_Perc_Change'][i] < 1 )):
        df.loc[i,'Trend']='Slight Positive'
    elif((df['Day_Perc_Change'][i] > -1) & (df['Day_Perc_Change'][i]< -0.5) ):
        df.loc[i,'Trend']='Slight Negative'
    elif((df['Day_Perc_Change'][i] > 1) & (df['Day_Perc_Change'][i]< 3) ):
        df.loc[i,'Trend']='Positive'
    elif((df['Day_Perc_Change'][i] > -3) & (df['Day_Perc_Change'][i]< -1) ):
        df.loc[i,'Trend']='Negative'
    elif((df['Day_Perc_Change'][i] > 3) & (df['Day_Perc_Change'][i]< 7) ):
        df.loc[i,'Trend']='Among Top Gainers'
    elif((df['Day_Perc_Change'][i] > -7) & (df['Day_Perc_Change'][i]< -3) ):
        df.loc[i,'Trend']='Among Top Losers'
    elif(df['Day_Perc_Change'][i] > 7):
        df.loc[i,'Trend']='Bull Run'
    elif(df['Day_Perc_Change'][i] < -7):
        df.loc[i,'Trend']='Bear Drop'

In [20]:
#1.8
tren_df=df[['Total Traded Quantity','Trend']]
Trend_groups=tren_df.groupby('Trend')

In [21]:
Trend_groups.groups

{'Among Top Gainers': Int64Index([143, 151, 178, 197, 262, 298, 350, 352, 366, 373, 428], dtype='int64'),
 'Among Top Losers': Int64Index([182, 301, 339, 342, 347, 355, 388, 399, 481], dtype='int64'),
 'Bear Drop': Int64Index([423], dtype='int64'),
 'Negative': Int64Index([  3,   5,  20,  29,  60,  61,  62,  63,  66,  68,  92,  94,  97,
             121, 140, 153, 160, 161, 169, 177, 181, 184, 187, 189, 191, 192,
             195, 198, 202, 210, 214, 215, 227, 236, 238, 252, 256, 260, 274,
             281, 290, 305, 306, 310, 324, 325, 326, 329, 332, 335, 336, 337,
             338, 341, 343, 345, 349, 351, 353, 356, 363, 364, 368, 371, 375,
             377, 387, 398, 406, 412, 419, 420, 433, 436, 438, 439, 447, 458,
             459, 460, 461, 464, 480, 483, 485, 493],
            dtype='int64'),
 'Positive': Int64Index([  1,   6,   8,   9,  17,  19,  34,  37,  42,  54,  55,  64,  65,
              70,  75,  76,  82,  95,  96, 104, 110, 113, 120, 129, 132, 136,
             142, 144, 145, 150, 158, 168, 183, 186, 188, 206, 208, 211, 216,
             219, 222, 229, 254, 257, 258, 268, 279, 284, 285, 286, 289, 299,
             304, 308, 309, 319, 322, 334, 340, 344, 362, 365, 370, 374, 378,
             380, 381, 384, 385, 389, 392, 393, 397, 409, 410, 414, 427, 430,
             431, 432, 443, 448, 449, 453, 454, 465, 466, 467, 469, 473, 476,
             478],
            dtype='int64'),
 'Slight Negative': Int64Index([  4,  13,  23,  24,  26,  38,  47,  50,  56,  57,  73,  85,  91,
              93,  98, 103, 108, 109, 125, 133, 138, 152, 159, 165, 179, 180,
             185, 201, 205, 207, 228, 230, 233, 240, 242, 245, 253, 255, 261,
             263, 270, 276, 278, 295, 300, 302, 311, 313, 316, 317, 320, 323,
             331, 346, 358, 360, 382, 386, 391, 402, 404, 407, 413, 415, 416,
             440, 442, 450, 452, 455, 484, 490],
            dtype='int64'),
 'Slight Positive': Int64Index([ 10,  12,  18,  27,  28,  31,  48,  51,  59,  71,  80,  81,  87,
             100, 111, 114, 115, 130, 137, 149, 154, 163, 172, 175, 194, 196,
             203, 204, 213, 217, 223, 224, 243, 247, 264, 266, 275, 282, 288,
             292, 294, 303, 314, 315, 321, 357, 367, 369, 372, 376, 395, 401,
             411, 434, 441, 446, 463, 468, 470],
            dtype='int64'),
 'Slight or No Change': Int64Index([  0,   2,   7,  11,  14,  15,  16,  21,  22,  25,
             ...
             475, 477, 479, 482, 486, 487, 488, 489, 491, 492],
            dtype='int64', length=164)}

In [22]:
trends=pd.DataFrame(columns=['Trend Group','Average','Median'])

In [23]:
for group in Trend_groups:
    print(len(group[1]))

11
9
1
86
92
72
59
164

In [24]:
for groups in Trend_groups:
    trends=trends.append({'Trend Group':group[0],'Average':groups[1]['Total Traded Quantity'].sum()/len(group[1]),'Median':groups[1]['Total Traded Quantity'].median()},ignore_index=True)

In [25]:
trends

           Trend Group        Average     Median
0  Slight or No Change   84419.951220  1112945.0
1  Slight or No Change   71298.743902  1261317.0
2  Slight or No Change   18675.378049  3062762.0
3  Slight or No Change  376132.335366   637870.5
4  Slight or No Change  364159.121951   635222.0
5  Slight or No Change  237404.585366   481985.0
6  Slight or No Change  193684.512195   465479.0
7  Slight or No Change  478075.829268   407874.5

In [26]:
#1.9
df.to_csv('week2.csv',date_format='%Y-%m-%d %H:%M:%S')